<div class="container">
  <!-- 
    Unix Timestamp that represents the last possible date to query
    for data.
  -->
  <input type="hidden" id="max_unixstamp" value="<% max_unixstamp %>" />

  <!-- date filters -->
  <div class="row">
    <form method="POST" action="<% request.uri %>">
    <div class="col-sm-2">
      <div class="form-group form-group-sm">
        <span>Start on:</span>
        <div class='input-group input-group-sm date' id="from_datetimepicker">
          <input type='text' class="form-control" name="start_date" value="<% from_datetimepicker %>"/>
          <input type="hidden" id="query_df"  name="df" value="<% df %>" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <div><span class='help-block small' class='text-info'>YYYY-MM-DD</span></div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group form-group-sm">
        <span>End at:</span>
        <div class='input-group input-group-sm date' id="to_datetimepicker">
          <input type='text' class="form-control" name="end_date" value="<% to_datetimepicker %>" />
          <input type="hidden" id="query_dt" name="dt" value="<% dt %>" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <div><span class='help-block small' class='text-info'>YYYY-MM-DD</span></div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group form-group-sm">
        <span>Status</span>
        <select name="qs" class="form-control" id="query_status">
          <option value=""></option>
          <optgroup label="Select a status...">
          <% FOR st IN statuses %>
            <option value="<% st.id %>"><% st.value %></option>
          <% END %>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group form-group-sm">
        <span>Librarian</span>
        <div class='input-group text' id="query_librarian">
          <input type='text' class="form-control librarian-typeahead" name="ql" id="query_librarian" value="<% qh %>" placeholder="Enter Librarian" />
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group form-group-sm">
        <div>&nbsp;</div>
        <button type="submit" id="btnApplyDates" class="btn btn-sm btn-primary">Start Export</button>
        <a class="btn btn-sm btn-info" href="<% request.uri_base %>">Reset Filter</a>
      </div>
    </div>
    </form>
  </div>
  <!-- END date_filters -->
</div>
