<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center"><% INCLUDE 'pager.tt' %></div>
      <table class="table table-hover table-striped small">
        <thead>
          <tr>
            <th>Id</th>
            <th>Value</th>
            <th class="text-right">Assigned<br />Requests</th>
          </tr>
        </thead>
        <tbody>
          <% WHILE (tf = titleformat.next) %>
          <tr>
            <td><% tf.id %></td>
            <td><a href="<% request.uri_base %>/admin/format/<% tf.id %>"><% tf.value %></a></td>
            <td class="text-right"><% IF tf.titlerequests.size > 0 %><% tf.titlerequests.size %><% ELSE %>0<% END %></td>
          </tr>
          <% END %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <form method="POST" class="form-inline">
                <div class="form-group form-group-sm">
                  <label for="newFormatValue">New Format</label>
                  <input type="text" id="newFormatValue" class="form-control" name="value" placeholder="e.g. Streaming">
                </div>
                <button type="submit" class="btn btn-default btn-sm">Add Format</button>
                <input type="hidden" name="current_page" value="<% pager.current_page %>">
              </form>
          </tr>
        </tfoot>
      </table>
      <div class="text-center"><% INCLUDE 'pager.tt' %></div>
    </div>
  </div>
</div>
