    <% IF tr.emailrecords.size > 0 %>
      <div><strong><% emailrecords.size %> Email Record(s) Found.</strong></div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% FOR er IN emailrecords %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading-<% er.id %>">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<% er.id %>" aria-expanded="true" aria-controls="collapseOne">
                Recorded: <% er.recorded %>
              </a>
            </h4>
          </div>
          <div id="collapse-<% er.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<% er.id %>">
            <div class="panel-body">
              <pre id="er_message-<% er.id %>"><% er.message %></pre>
              <button class="btn btn-info btn-sm btn-copymsg" data-rel="er_message-<% er.id %>">Copy Message</button>
            </div>
          </div>
        </div>
      <% END %>
      </div>
    <% ELSE %>
    <% END %>
